.app {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--bs-yellow);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h1 {
    color: var(--bs-gray-dark);
  }
  input {
    max-width: 300px;
  }
}

.box {
  background-color: var(--bs-white);
  padding: 2rem;
  border-radius: 10px;
  min-width: 320px;
}

.income,
.balance,
.expense {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction {
  min-height: 230px;
  position: relative;
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;

    &-name {
      font-weight: bold;
    }
    &-price {
      display: flex;
      flex-direction: column;
    }
  }
}

.expense-none {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}